.app-navbar{
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(18, 17, 17);
  position: fixed;
  z-index: 5;
  top: 0;
 
  /* position: fixed;
  z-index: 5;
  top: 0;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.025); */
  
  /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */
}

.app-navbar-scroll{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 1);

  /* background: rgba(0, 0, 0, 1);;
  position: fixed;
  z-index: 5;
  top: 0;
  transition: all 0.5s ease; */
  /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */
}

.app-navbar-mobile{
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 5;
  background: rgb(18, 17, 17);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  top: 0;
  transition: all 0.5s ease;
}

.app-navbar-mobile-scroll{
  width: 100%;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 1);
  top: 0;
  transition: all 0.5s ease;
}


.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  text-align: center;
}

.logo-conatiner img {
  width: 90px;
  height: 20px;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: 1rem;
}

.nav-links li {
  margin: 0 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-links a {
  align-self: flex-start;
  text-decoration: none;
  font-weight: 500;
  color: var(--gray-color);
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.searchbar-container {
  width: 140px;
  border: 1px solid var(--gray-color);
  margin-right: 2rem;
  border-radius: 10px;
}

.sigin-container {
  margin-top: 1rem;
  margin-right: 2rem;
}

.sigin-container a {
  text-decoration: none;
  font-weight: 500;
  color: var(--gray-color);
  transition: all 0.3s ease-in-out;
}

.sigin-container p:hover {
  color: var(--secondary-color);
}
.sigin-container span{
margin-right: 2px;
}

.mobile-login-toolbar{
  margin: 0 !important;
  padding: 0 !important;
}

.cart-icon {
  font-size: 35px;
  color: var(--gray-color);
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  margin-top: -10px;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
  color: var(--secondary-color);
}
.cart-item-qty {
  position: absolute;
  right: -1px;
  font-size: 13px;
  color: #eee;
  background-color: var(--tertiary-color);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  
}

.mobile-nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  opacity: 0.95;
  padding: 1rem 2rem;
  position: relative;
 
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
}

.mobile-menu svg{
  font-size: 35px;
}

.menu-icon,
.mobile-menu p,
.mobile-nav-search {
  color: var(--gray-color);
  cursor: pointer;
}

.menu-icon:hover,
.mobile-menu p:hover {
  color: var(--secondary-color);
}
.mobile-menu p {
  font-size: 1.25rem;
  align-self: center;
  margin-top: 0.2rem;
  cursor: pointer;
}

.mobile-nav-icons {
  display: flex;
  align-content: center;
}
.mobile-nav-search {
margin-left: 10px;
}

.mobile-nav-search:hover {
  color: var(--secondary-color);
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 111px;
  right: 0;
  width: 100%;
  align-items: flex-start;
  background-color: #fff;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-links ul {
  list-style: none;
  padding: 0;
}
.mobile-nav-links li {
  margin-bottom: 1.2rem;
}

.mobile-nav-links li:last-child {
  margin-bottom: 0;
}

.mobile-nav-links li,
p {
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-nav-links a,
p {
  text-decoration: none;
  color: var(--gray-color);
  transition: all 0.3s ease-in-out;
}

.mobile-nav-links a:hover,
.mobile-nav-links p:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 1080px) {
  .app-navbar, .app-navbar-scroll {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .app-navbar-mobile, .app-navbar-mobile-scroll {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mobile-menu p {
    font-size: 1rem;
  }
}
